.movie-details-container{
    margin: 0px 0px;
    padding: 35px 135px;
    background: #525252;
}

.movie-details{
    padding: 25px 30px 30px 15px;
}

.icon-goback{
    transform: rotate(-180deg);
    margin-right: 30px;
    color: #FFC700;
}

.movie-details-goback{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none !important;
}

.text-goback{
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #fff;
    text-transform: uppercase;
}

.movie-details-card{
    width: 100%;
}

.movie-details-image{
    width: 525px;
    height: 320px;
}

.movie-details-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.movie-details-year{
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFC700;
}

.movie-details-subtitle{
    margin-top: -10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.movie-synopsis-text{
    width: 100%;
    padding: 15px 30px 10px 20px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}

.movie-details-info{
    display: flex;
    flex-direction: row;
}

.movie-details-img{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.review-list-container{
    margin: 45px 0;
}

//tablet breakpoints
@media (max-width: 768px){
    .movie-details-container{
        padding: 35px 80px 90px 80px;
    }

    .movie-details {
        display: flex;
        flex-direction: column;
    }

    .movie-details-info{
        flex-direction: column;
    }

    .movie-details-card{
        width: 530px;
        margin: 0 auto;
    }

    .movie-info-fields{
        border: 0px;
        padding: 0px 10px;
        margin-bottom: 40px;
        width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
//mobile breakpoints
@media (max-width: 576px){
    .movie-details-container {
        margin-top: 5px;
        padding: 10px;
    }

    .movie-details {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .movie-details-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .movie-details-image{
        width: 200px;
        height: 200px;        
    }

    .movie-info-fields{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}