.auth-container{
    background: #525252;
    display: flex;
    padding: 40px 40px 100px 0;
    justify-content: center;
    background-size: 100%;
}

.auth-info-title{
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.auth-info-subtitle{
    margin: 20px 150px 50px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #F2F2F2;
}


//tablet breakpoints
@media (max-width: 768px){
    .auth-info {
        display: none;
    }
}
//mobile breakpoints
@media (max-width: 576px){
    .auth-container {
        margin: 0 auto;
        padding: 40px 0px 0px 0px;
    }
}