.review-card-admin {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .review-currency {
        font-size: 14px;
    }

    .review-price {
        font-size: 24px;
    }
}

.review-card-image-admin{
    width: 100px;
    height: 100px;
    margin: 0px 10px;
}

.review-card-username {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding-left: 30px;
}

//tablet breakpoints
@media (max-width: 768px){
    .card-content {
        margin-left: 10px;
    }
     
}
//mobile breakpoints
@media (max-width: 576px){
    .review-card-admin{
        display: flex;
        flex-direction: column;
    }

    .card-content{
        width: 100%;
        padding: 10px;
    }

    .btn-review{
        width: 135px !important;
        margin: 0px !important;
    }
}