.catalog-container{
    background: #4f4f4f;
    padding: 25px 135px 75px 135px;
}

.catalog-movies{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 25px 25px;
    justify-content: space-between;
}

.filters-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


//tablet breakpoints
@media (max-width: 768px){
    .catalog-container{
        padding: 25px 120px 75px 120px;
    }

    .filters-container{
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog-movies{
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: 33px 10px;
    }
}

//mobile breakpoints
@media (max-width: 576px){
    .catalog-container{
        padding: 25px 70px 75px 70px;
    }

    .catalog-movies{
        grid-template-columns: repeat(auto-fill, 100%);
    }
}