.default-button{
    display: flex;
}

.btn-icon{
    background-color: #FFC700 !important;
    height: 70px;
    width: 380px;
    border-radius: 10px 0 0 10px !important;
    text-transform: uppercase;

}

.btn-icon-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.btn-icon-content{
    background-color: #937D1C;
    width: 70px;
    border-radius: 0 10px 10px 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

//tablet breakpoints
@media (max-width: 768px){
}
//mobile breakpoints
@media (max-width: 576px){
    .default-button{
        max-width: 70vw;
        height: 50px;
        margin-bottom: 15px;
    }

    .default-button button h5{
        font-size: 1em;
    }

    .btn-icon{
        height: 50px;
    }

    .btn-icon-content{
        height: 50px;
    }

}